<div class="bwp-filter-price">
    <h3>Price</h3>
    <div class="content-filter-price">
        <div id="bwp_slider_price" data-symbol="KSh" data-min="1199" data-max="2499"></div>
        <div class="price-input">
            <span>Range : </span>
            <span class="input-text text-price-filter" id="text-price-filter-min-text">
                <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">KSh</span>&nbsp;1,199.00</bdi></span>
            </span> - 
            <span class="input-text text-price-filter" id="text-price-filter-max-text">
                <span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">KSh</span>&nbsp;2,499.00</bdi></span>
            </span>
            <input class="input-text text-price-filter hidden" id="price-filter-min-text" type="text" value="1199">
            <input class="input-text text-price-filter hidden" id="price-filter-max-text" type="text" value="2499">
        </div>
    </div>
</div>
