<ul class="display hidden-sm hidden-xs">
    <li>
        <a data-col="col-xl-6 col-lg-4 col-md-4 col-6" class="view-grid two " href="#"><span></span><span></span></a>
    </li>
    <li>
        <a data-col="col-xl-4 col-lg-4 col-md-4 col-6" class="view-grid three active" href="#"><span></span><span></span><span></span></a>
    </li>
    <li>
        <a data-col="col-xl-3 col-lg-4 col-md-4 col-6" class="view-grid four " href="#"><span></span><span></span><span></span><span></span></a>
    </li>
    <li>
        <a class="view-list " href="#"><span></span><span></span><span></span></a>
    </li>
</ul>
